.Header {

	background-color: #1b1a1d;
	color: white;

	section:first-child {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		align-items: center;
		justify-items: center;
		gap: 1rem;

		padding: 1rem 3rem;
	
		span {
			display: flex;
			gap: 1.6rem;
			align-items: center;
			min-width: fit-content;
		}
	}
}