@use "/src/sass/base/reset";

.Searchbar {
	position: relative;
	display: flex;


	form {
		background-color: white;
		border: 1px solid gray;

		width: 100%;
		height: 100%;

		>* {
			height: 100%;
		}
	}

	input {
		background-color: unset;
		border: unset;
		font-size: medium;
		padding-left: 1rem;

		&:focus {
			outline: none;
		}
	}

	button {
		background-color: unset;
		border: unset;
		
		position: absolute;
		right: 0;
		
		aspect-ratio: 1/1;
	}
	
	button:hover {
		color: red;
	}
	
	button:active {
		color: rgb(0, 132, 255);
	}
}