@use "/src/sass/base/reset";

header {

	section {
		display: flex;
		justify-content: space-between;

		background-color: burlywood;
	
		width: 100%;
		padding: 1rem 3rem;
	
		span {
			display: flex;
			gap: 1.6rem;
			align-items: center;
		}
	}
}